body {
    text-align: center;
    background-color: #ccbe29;
    background-image: url("https://www.transparenttextures.com/patterns/pineapple-cut.png");
    font-family: 'Bree Serif', serif;
    font-family: 'Delius Unicase', cursive;
}

button {
    width: 150px;
    height: 60px;
    font-family: 'Bree Serif', serif;
    font-family: 'Delius Unicase', cursive;
    font-size: medium;
    font-weight: bold;
    border-radius: 2em;
    background-color: #F08080;
}

div {
    border-radius: 2em;
    
}

img {
    width: 110px;
    height: 120px;
}

.another-container {
    display: grid;
    grid-template-columns: 300px 250px;
    justify-content: center;
    margin: 10px;
    background-color: #ccbe29;
}

#timer {
    border: none;
    font-size: large;
    font-weight: bold;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}

.cover {
    background-color: #F08080;
    border: 1px solid darkcyan;
}

.inactive {
    visibility: hidden;
}

@media (max-width: 500px) {
    img {
        width: 100px;
        height: 130px;
    }
    .another-container {
        display: grid;
        grid-template-columns: 100px 200px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1px;
    }
}
